/* --- --- GERAL --- --- */
body{
    padding:0;
    margin:0;
    font-family:Open Sans, Arial, Tahoma, sans-serif;
    background: url("../img/cubes.png") fixed 200px,#c4d6ee;
    font-weight:300;
    width: 100%;
    word-break: break-word;
}
::-webkit-scrollbar-track {
    background-color: #0a4164;
}
::-webkit-scrollbar {
    width: 15px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #011c2e;
}
::selection,{
    background:#B4D9FE;
    color:#000000;
}
::-moz-selection{
    background-color: #B4D9FE;
    color:#000000;
}

.h1,.h2,.h3,.h4,.h5{
	font-weight:100;
}
a{
    text-decoration: none;
}

/* --- --- HEADER --- --- */
header{
    font-weight: bold;
    /* background-color: #011C2E; */
    text-shadow:0 0 8px #000000dd;
    z-index: 10;
}

header > .pesquisa{
    padding:10px 0 10px 0;
}
header > .pesquisa input[type="search"]{
    width:10%; height: 40px;
    color: #ffffff;
    font-size: 16px;
    border: 2px solid #29648A;
    border-radius: 4px;
    background: url("../img/search.svg") no-repeat 5px 50%,#29648A;
    background-size: auto 80%;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}header > .pesquisa input[type="search"]:focus{
    width: 100%;
}

header [class*="fa"]{
    margin: 0 10px 0 0;
}

header a{
    text-decoration: none;
    height: 60px;
}header a:hover{
    transition:0.3s;
    text-shadow:0 0 8px #000000;
}
header a > span{
    font-size: 19px;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

@media only screen and (max-width: 959px) {
    header{
        display: flex;
        background-color: #011C2E;
    }header a{
        color:#ffffff;
    }header a:hover{
        text-shadow: 0px 0px 15px black;
        background-color: #ffffff20;
    }
    header a > span{
        text-shadow: 0px 0px 15px #163750;
    }
    .buttonMenu{
        background-color: #011C2E;
        border:0px;
        position: absolute;
        z-index: 2;
    }
}
@media only screen and (min-width: 960px) {
    header{
        display: flex;
        position: fixed;
    }header a{
        /* color:#0e3e61; */
        color: #ffffff;
    }
    header a > span::after{
        /* content:"";
        display:block;
        margin:0 auto;
        width:0%;
        height:4px;
        margin-top:2px;
        border-radius:10px;
        background:#063D61; */
    }
    header a:hover > span::after{
        /* width:90%; */
        transition:0.3s;
        box-shadow: 0 0 10px 3px #000000aa;
    }
    .buttonMenu{
        display:none;
    }
}

/*--- FOOTER ---*/
footer.contato{
    /* background-color: #011C2E; */
    background: url('../img/contact-footer.jpg'),linear-gradient(to bottom right, #011C2E, #011C2E);
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    min-height: 50vh;
    /* padding: 4vw; */
    text-shadow:0 0 8px #000000;
}
footer.contato > div{
    margin:40px 4vw 40px 4vw;
}
[class*="fa"]{
    padding: 0 10px 0 10px;
}
footer.contato span{
    background-color: #00000088;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
}
