/*set a border on the images to prevent shifting*/
.galery{
    margin: 100px 4vw;
}
.galery > a{
    height: 150px;
    width: 150px;
    background-color: white;
    border:0.5px solid rgb(185, 185, 185);
}
.galery > a > img{
    height: calc(100% - 1px);
    width: calc(100% - 1px);
    object-fit: contain;
    background-color: #ffffff;
    overflow: hidden;
}

.colorCube div{
    height:100px;
    width:100px;
    display:flex;
    text-align: center;
    justify-content:center;
    align-content: center;
    align-items: center;
    color:#000;
}

.ficha a{
    color: #000000;
    padding: 20px;
    /* width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}.ficha:hover a{
    transition: all 0.3s linear;
    color: #ffffff;
    background-color: #000000;
}
