/*
Write by Jumper Luko (www.jumperl.com)
mailto: jumper.luko@gmail.com
Create: 9 May 2018

Please Read for help:
* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
* https://www.w3schools.com/w3css/w3css_responsive.asp
*/

* {
    box-sizing: border-box;
    /* Unlock below and it will be like float left */
    /*display:flex;
    flex-wrap:wrap;
    align-content: flex-start;*/
}
body{
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content: flex-start;
}

[class*="col-"] {
    width: 100%;
    display: flex;
}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (min-width: 960px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
    .col-b-1 {width: 8.33%;}
    .col-b-2 {width: 16.66%;}
    .col-b-3 {width: 25%;}
    .col-b-4 {width: 33.33%;}
    .col-b-5 {width: 41.66%;}
    .col-b-6 {width: 50%;}
    .col-b-7 {width: 58.33%;}
    .col-b-8 {width: 66.66%;}
    .col-b-9 {width: 75%;}
    .col-b-10 {width: 83.33%;}
    .col-b-11 {width: 91.66%;}
    .col-b-12 {width: 100%;}
}
@media only screen and (min-width: 1760px) {
    .col-g-1 {width: 8.33%;}
    .col-g-2 {width: 16.66%;}
    .col-g-3 {width: 25%;}
    .col-g-4 {width: 33.33%;}
    .col-g-5 {width: 41.66%;}
    .col-g-6 {width: 50%;}
    .col-g-7 {width: 58.33%;}
    .col-g-8 {width: 66.66%;}
    .col-g-9 {width: 75%;}
    .col-g-10 {width: 83.33%;}
    .col-g-11 {width: 91.66%;}
    .col-g-12 {width: 100%;}
}
html {
    font-family: "Lucida Sans", sans-serif, Arial;
}

.left,.start{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
}
.right,.end{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-end;
}
.center{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    align-content: center;
}
.centerText{
    text-align:center;
}
.centerH{
    justify-content:space-around;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.centerV{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

/* Fonts Sizes, i'm like. You just can remove the point.*/
@media only screen and (max-width: 767px) {
.h1{font-size:44px;}
.h2{font-size:24px;}
.h3{font-size:16px;}
.h4{font-size:14px;}
.h5{font-size:13px;}
.h6{font-size:10px;}
.h7{font-size:8px;}
.h8{font-size:6px;}
}
@media only screen and (min-width: 768px) {
.h1{font-size:63px;}
.h2{font-size:36px;}
.h3{font-size:23px;}
.h4{font-size:21px;}
.h5{font-size:19px;}
.h6{font-size:18px;}
.h7{font-size:px;}
.h8{font-size:px;}
}
@media only screen and (min-width: 960px) {
.h1{font-size:74px;}
.h2{font-size:42px;}
.h3{font-size:27px;}
.h4{font-size:24px;}
.h5{font-size:22px;}
.h6{font-size:18px;}
.h7{font-size:14px;}
.h8{font-size:11px;}
}

/* Menu Dropdown! please use div */
.dropdown{
    display: flex;
    /*background-color: #00aa00;*/
}
.dropdown > .dropdown-title{
    height: 100%;
}
.dropdown > .dropdown-sub{
    display: none;
    z-index: 1; /* Undecided? Move to up the layer! */
    flex-wrap:wrap;
    width: 100%; /* options use all dropdown width */
}
.dropdown:hover > .dropdown-sub {
    display: flex;
    /*background-color: #abcdef99;*/
}.dropdown:hover > .dropdown-sub  > .dropdown-option:hover{
    /*background-color: #abcdef;*/
}
